.git
.gitattributes
.github
.devcontainer
.idea
.vscode
.DS_Store

tests
phpunit.xml.dist
pint.json
*.md
LICENSE.md

.env
.env.*
!.env.example
auth.json

vendor
web/wp
web/app/uploads/*
!web/app/uploads/.gitkeep
web/app/cache
web/app/upgrade
web/app/object-cache.php
.config

docker-compose.override.yml
